{% extends 'layouts/base.html.twig' %}

{% block content %}
    <h1>Thank you!</h1>
    <p>Payment via {{ provider }} successful.</p>
    <a href="/dashboard" class="btn btn-primary" class="btn btn-primary">Dashboard</a>
{% endblock %}
